{% extends "::base.html.twig" %}
{% block body %}
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </div>

{% endblock %}
 {% block content %}{% endblock %}