{% extends "main.html.twig" %}


    {% block content %}
        <h1>Here is all about {{ Category.id }} </h1>
        <a href="">All products</a>
        <h2>Details:</h2>
        <p><b>Name:</b></p>
        <p><b>Description:</b></p>
    {% endblock %}