{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <tr>
            <td>
                <a href="{{ path('app_default_detail', {'id': category.id }) }}">{{ category.translate('ru').name }}</a><br>
            </td>
        </tr>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
